*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // scroll-behavior: auto;

    font-size: 62.5%; // 1rem == 10px

    @include respond(tab-port) {
        font-size: 50%; // 1rem == 8px
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem == 9px
    }

    @include respond(big-desk) {
        font-size: 75%; // 1rem == 12px, 12/16
    }

}

body {
    font-family: 'Montserrat', sans-serif;
    color: $color-text;
    // line-height: 1.2;
    // font-size: 1.3rem;
    background-color: $color-bc;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: lighten($color-text-light, 60);
        border-radius: 4px;
        width: 2rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($color-ok, 20);
        border-radius: 4px;

        &:hover {
            background-color: $color-ok;
        }

    }
}

html {
    // width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

button,
select,
option {
    font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

h1 {
    font-size: 3.8rem;
}


h2 {
    font-size: 3rem;
}


h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.4rem;
}

p,
li,
span.span,
input {
    font-size: 1.5rem;
}


p {
    color: $black;
}



textarea {
    font-family: 'Montserrat', sans-serif;
}


.btn,
button {
    // color: $color-text;

    // font-weight: 200;
    // max-width: 95%;
    // border: 1px solid white;

    // transition: .3s all ease-in-out;
    // text-align: center;


    // &-ghost {
    //     color: white;

    //     &:hover {
    //         background-color: white;
    //         color: black;
    //     }
    // }
    color: $white;
    font-weight: 400;
    cursor: pointer;
    @include transition;
    border: 1px solid;
    font-size: 1.5rem;
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    text-transform: capitalize;

}

.sep {
    height: 7px;
    width: 50px;
    background-color: $color-primary;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: $color-text;
    font-size: 16px;
}

@for $i from 1 through 5 {
    $measure: #{$i}rem;

    .m-#{$i} {
        margin: $measure;
    }

    .mt-#{$i} {
        margin-top: $measure;
    }

    .mb-#{$i} {
        margin-bottom: $measure;
    }

    .ml-#{$i} {
        margin-left: $measure;
    }

    .mr-#{$i} {
        margin-right: $measure;
    }

    .my-#{$i} {
        margin-top: $measure;
        margin-bottom: $measure;
    }

    .mx-#{$i} {
        margin-left: $measure;
        margin-right: $measure;
    }

    .p-#{$i} {
        padding: $measure;
    }

    .pt-#{$i} {
        padding-top: $measure;
    }

    .pb-#{$i} {
        padding-bottom: $measure;
    }

    .pl-#{$i} {
        padding-left: $measure;
    }

    .pr-#{$i} {
        padding-right: $measure;
    }

    .py-#{$i} {
        padding-top: $measure;
        padding-bottom: $measure;
    }

    .px-#{$i} {
        padding-left: $measure;
        padding-right: $measure;
    }
}

.text-white {
    color: white;

    & p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: white;
    }
}

.app {
    height: 100vh;
    width: 100vw;
    padding: 0 0 3rem 5rem;
    transition: .2s all linear;
    // overflow: hidden;
}

.app.minimize {
    padding: 0 0 0 20rem;
}

.app-scroll {
    overflow-y: scroll;
    height: 90vh;
    padding: 2rem 3rem 6rem 3rem !important;
    margin: 2rem auto 30rem auto !important;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: lighten($color-text-light, 20);
        border-radius: 5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($color-ok, 10);
        border-radius: 5rem;
        @include transition;

        &:hover {
            background-color: $color-ok;
        }

    }


}

input,
textarea.styles {
    color: $color-text-light;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
}