@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }

        ; // 600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==from-tab-land {
        @media (min-width: 56.25em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==google {
        @media (max-width: 71.37em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desk {
        @media (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}

@mixin animation($duration, $name, $delay) {
    opacity: 1;
    animation: $name $duration ease-in-out $delay;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
}

@mixin shadow {
    box-shadow: 5px 5px 15px $color-shadow;
}

@mixin shadow-light {
    box-shadow: -3px -3px 5px -3px $color-shadow-light, 5px 5px 5px $color-shadow-light;
}

@mixin shadow-nav {
    box-shadow: 2px 2px 5px $color-shadow;
}

@mixin transition {
    transition: .3s all ease-in-out;
}

@mixin card {
    // @include shadow-light;
    padding: 2rem;
    border-radius: $border-radius;
    background-color: $white;

    animation: .4s appear;

}

@mixin gradient-success {
    background: rgba(20, 233, 95, 1);
    background: linear-gradient(0deg, rgba(20, 233, 95, 1) 0%, rgba(110, 255, 160, 1) 100%);
}

@mixin gradient-warning {
    background: rgb(213, 127, 0);
    background: linear-gradient(0deg, rgba(213, 127, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
}

@mixin gradient-ok {
    background: rgb(0, 95, 255);
    background: linear-gradient(0deg, rgba(0, 95, 255, 1) 0%, rgba(68, 138, 255, 1) 100%);
}