.project-create {
    width: 90%;
    margin: 5rem auto;
    padding-bottom: 6rem;
    animation: .4s appear;
    animation-fill-mode: backwards;
    @include transition;

    & form {
        width: 100%;

        & .section-title {
            margin: 4rem 0 2rem 0;

        }

        & .form-field {
            font-size: 2rem;
            display: flex;
            align-items: center;
            margin: 2rem 0;

            &.desc {
                flex-direction: column;
                align-items: flex-start;

                & label {
                    margin-bottom: 1rem;
                }

                & textarea {
                    resize: none;
                    width: 500px;
                    height: 200px;
                    padding: 1.5rem;
                    color: $color-ok;
                }
            }

            & label {
                margin-right: 3rem;
            }

            & input {
                border: none;
                outline: none;
                font-size: 2rem;
                border-bottom: 1px solid $color-text;
                // padding: 0 1rem;
                text-align: center;
                color: $color-ok;
            }


            &.svcs {
                flex-direction: column;
                align-items: flex-start;

                & ul {
                    width: 800px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -3rem;

                    & li {
                        font-size: 2rem;
                        list-style: none;
                        cursor: pointer;
                        @include transition;
                        border-bottom: 1px solid transparent;
                        padding-bottom: 1rem;
                        text-align: center;
                        margin: 1rem 3rem;
                        text-transform: capitalize;

                        &:hover {
                            color: $color-ok;
                            border-color: $color-ok;
                        }
                    }
                }

            }

            &.docs {
                flex-direction: column;
                align-items: flex-start;


                & .docs__list {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    margin-left: -3rem;

                    & .doc {
                        border-radius: .5rem;
                        border: 1px solid $color-text;
                        padding: 1rem;
                        margin: 1rem 3rem;
                        cursor: pointer;
                        @include transition;

                        &:hover {
                            color: $color-ok;
                            border-color: $color-ok;
                        }
                    }

                }
            }

            & .add {
                color: $color-success;
                cursor: pointer;
                margin-bottom: 2rem;
                text-decoration: underline;
                @include transition;

                &:hover {
                    color: darken($color-success, 5);
                }
            }

        }

    }

}