.project {
    @include animation(appear, .5s, 0);
    margin: 0 auto;
    width: 90%;

    &__header {
        margin: 4rem 0 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;


        & .right {
            display: flex;


        }

        & .right,
        & .left {

            & h3 {
                color: $black;
                margin-bottom: .3rem;
            }

            & span {
                color: $color-text-light;
            }

            & .item {

                padding: 1rem 1.5rem;
                border-radius: .5rem;

                & p {
                    color: $black;
                    font-weight: 700;
                    text-align: right;
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }

                &.total {
                    @include gradient-ok;
                    color: $white;
                    margin-left: 1.6rem;

                    & p,
                    & span {
                        color: $white;
                    }
                }

                &.state {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include gradient-ok;
                    padding: 2.5rem 4rem;

                    margin-left: 2rem;

                    & p,
                    & span {
                        color: $white;
                        line-height: 0;

                    }

                    &.available {
                        @include gradient-ok;
                    }

                    &.delivered {
                        @include gradient-success;
                    }

                    &.liquidated {
                        @include gradient-warning;
                    }

                }
            }

        }

    }
}


.card {
    @include card;
    margin: 1rem 0;
    // max-width: 90%;
    grid-column: span 1;
    overflow: hidden;
    padding: 2rem;

    &.edit {
        border: .2rem solid $color-ok;
    }

    &.half {
        width: 50%;
    }

    &.scroll,
    & .scroll {
        overflow-y: scroll;
        @include animation(.4s, appear, 0);
        position: relative;



        &::-webkit-scrollbar {
            width: 1rem;
        }

        &::-webkit-scrollbar-track {
            background-color: lighten($color-text-light, 20);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: lighten($color-ok, 10);
            border-radius: 4px;

            &:hover {
                background-color: $color-ok;
            }

        }

        & span.empty {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 35rem;
        grid-gap: 2rem;
        width: 100%;
        overflow: hidden;

        &.tall {
            grid-template-rows: 45rem;
        }

    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        & img {
            width: 3rem;
            height: 3rem;
        }

        & h4 {
            line-height: 0;
            margin-left: 1rem;
            color: $black;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;

        & .right,
        & .left {
            flex: 0 1 calc(50% - 3rem);

            & .scroll {
                height: 12rem
            }


            & .file-form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                & .card__body__item {
                    border-top: 1px solid $color-text-light;
                }

                & button.upload {
                    background-color: $color-success;
                    border-color: $color-success;
                    font-size: 1.4rem;
                    margin-top: 1rem;
                    border-radius: 0;

                    &:hover {
                        background-color: darken($color-success, 10);
                    }

                    &:disabled {
                        cursor: not-allowed;
                        opacity: .6;

                        &:hover {
                            background-color: $color-success;
                        }
                    }

                }

            }
        }

        & .left {}

        & .full {
            flex: 0 1 100%;

            & .scroll {
                height: 12rem
            }
        }

        & .right {}

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-text-light;
            padding: 1rem;
            width: 100%;
            position: relative;



            & label {
                pointer-events: none;
            }

            & span,
            label {
                text-transform: uppercase;
                color: $color-text-light;
                font-weight: 700;
                font-size: 1.3rem;
                z-index: 2;

            }

            & input {
                position: absolute;
                background-color: transparent;
                width: 100%;
                height: 100%;
                bottom: -.2rem;
                left: 0;
                border: none;
                padding-left: 60%;
                padding-right: 1rem;
                font-size: 1.5rem;
                color: $black;
                font-weight: 400;
                text-align: right;
                z-index: 1;
                // transition: .2s all ease-in-out;

                &:-webkit-autofill {
                    background-color: transparent !important;
                }

                &:focus {
                    border: none;
                    outline: none;
                    border-bottom: .5rem solid $color-ok;
                }

                &:invalid {
                    border-bottom: .5rem solid $color-warning;
                }

                &:invalid:focus {
                    border-bottom: .5rem solid $color-danger;
                }

            }

            & p {
                color: $black;

                &.price {
                    color: $color-ok;
                    font-weight: 700;
                }
            }



            &.description {
                border: none;
                flex-direction: column;
                width: 105%;
                align-items: flex-start;

                & span {
                    color: $black !important;
                    margin: 1rem 0 1rem 0;
                }

                & p {
                    // font-size: 1.3rem;
                    color: $color-text-light;
                }
            }

            &.error {
                border-color: lighten($color-danger, 15);

                & label {
                    color: lighten($color-danger, 15);

                }

                & input {
                    color: $color-danger !important;

                    &:focus {
                        border-color: $color-danger;
                    }

                }
            }

            &.warning {
                border-color: lighten($color-warning, 15);

                & label {
                    color: lighten($color-warning, 15);

                }

                & input {
                    color: $color-warning !important;

                    &:focus {
                        border-color: $color-warning;
                    }

                }
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &__item {
                cursor: pointer;
                margin: .5rem 1.3rem;

                & p {
                    text-transform: capitalize;
                    padding: 1rem;
                    border-bottom: 1px solid $color-text-light;
                    @include transition;
                }

                &:hover {
                    & p {
                        color: $color-ok;
                    }
                }
            }

            &__doc {
                cursor: pointer;
                margin: 1rem;

                & p {
                    text-transform: uppercase;
                    padding: 1rem 1.5rem;
                    border: 1px solid $color-text-light;
                    @include transition;
                    border-radius: .4rem;
                }

                &:hover {
                    & p {
                        color: $color-ok;
                        border-color: $color-ok;
                    }
                }
            }

            &__lotType {
                width: 100%;
                margin: 2rem 0;
                padding: 0 1rem;


                & .header {
                    margin-bottom: 1rem;

                    & h4 {
                        color: $black;
                        text-transform: uppercase;
                        padding: .5rem 5rem .5rem .5rem;
                        border-bottom: .4rem solid $color-ok;
                        width: fit-content;
                    }
                }

                & .body {
                    padding: 0 3rem;

                    & .prices,
                    & .measures {
                        & h5 {
                            margin: 1.5rem 0 0 0;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;

        & .order {

            & span {}


        }

        & .order,
        & .search .item {
            & select {
                appearance: none;
                background-color: transparent;
                border: none;
                font-family: inherit;
                cursor: inherit;
                line-height: inherit;
                color: $color-text;
                outline-color: $color-text-light;
                outline: none;
                border-bottom: 1px solid $color-ok;
                margin-left: .5rem;
                padding: 0 1rem;
                text-align: center;
                @include transition;
                cursor: pointer;
                font-weight: 700;

                &:hover,
                &:focus {
                    border-bottom: .3rem solid $color-ok;
                }

                & option {
                    text-align: center;
                    background-color: $color-bc;
                }
            }
        }

        & .search {
            display: flex;
            align-items: center;

            & .item {
                display: flex;
                align-items: center;

                &:first-of-type {
                    margin-right: 2rem;
                }

                & label {
                    font-size: 1.5rem;
                }

                & input {
                    margin-left: .5rem;
                    border: none;
                    border-bottom: 1px solid $color-ok;
                    padding: 0 1rem;
                    text-align: center;
                    width: 8rem;
                    outline: none;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $color-text;
                    @include transition;

                    &:hover,
                    &:focus {
                        border-bottom: .3rem solid $color-ok;
                    }
                }
            }
        }
    }

    &__lot-list {

        & .lot-list {
            height: 50rem;
        }
    }



}