.lot {

    & .project__header {
        height: 20rem;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;

        & h2 {
            margin-top: 0;
        }


        &__info {

        }

        &__svcs {
            & ul {

                list-style-position: inside;
                width: 80%;
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                & li {
                    margin-top: 1rem;
                    font-size: 2rem;
                }
            }

            &.item {
                margin-top: 4rem;
            }
        }
        
        &__resume {

            & .status {
                font-size: 3rem;
                margin-bottom: 4rem;

                &.available {
                    color: $color-ok;
                }
            }

        }
    }
}
