.cession {
  &-overlay {
    position: absolute;
    top: -2rem;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    font-weight: 600;
    color: #aaa;
    background-color: rgba(#333, 0.85);
    z-index: 100;
  }
}
