

.lot-list {
    width: 100%;
    
    & .scroll {
        height: 40rem;
    }

    & .headers {
        margin: 0 0 3rem 0;

        & span {
            color: $black;
            font-weight: 700;
        }
    }

    & .headers, & .item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        align-items: center;

        & span {
            text-transform: capitalize;
        }
    }

    & .item {
        padding: 2rem 0;
        // border-bottom: 1px solid $color-text-light;
        @include transition;
        position: relative;

        &:last-child {
            border: none;
        }

        & span {
            font-weight: 400;

            &.available {
                color: $color-ok;
            }
            &.delivered {
                color: $color-success;
            }
            &.liquidated {
                color: $color-warning;
            }
        }

        &.gray {
            background-color: $color-bc; 
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 7rem;
            border-radius: 0 5rem 0 0;
            transform: translateX(-8.2rem);
            @include transition;

        }

        &.available {
            &::before {
                @include gradient-ok;
            }
        }
        &.delivered {
            &::before {
                @include gradient-success;
            }
        }
        &.liquidated {
            &::before {
                @include gradient-warning;
            }
        }

       

        &:hover {

            &::before {
                transform: translateX(0);
            }

            &.available {
                color: $color-ok;
            }
            &.delivered {
                color: $color-success;
            }
            &.liquidated {
                color: $color-warning;
            }
            
        }
    }
}

.lot-list-container {
    padding-bottom: 6rem;
    @include card;
}