

.lot-list {
    width: 100%;

    & .headers {
        margin: 4rem 0;
    }

    & .headers, & .item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        align-items: center;

        & span {
            font-size: 2.3rem;
            text-transform: capitalize;
        }
    }

    & .item {
        padding: 2rem 0;
        border-bottom: 1px solid $color-text;
        opacity: .6;

        &:last-child {
            border: none;
        }

        & span {
            font-weight: 400;

            &.available {
                color: $color-ok;
            }
            &.sold {
                color: $color-success;
            }
            &.pending {
                color: $color-warning;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}

.lot-list-container {
    padding-bottom: 6rem;
}