.ui-checkitem {
  &__checkbox {
    display: flex;
    margin: auto 0.2rem;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: $color-ok;
    }
  }

  &__icon {
    margin: auto;
  }

  &__content {
    margin: auto 0rem;
    margin-left: 0.5rem;
    line-height: 1.4rem;

    &.checked {
      color: $color-ok;
      text-decoration: line-through;
    }
  }
}
