.ui-card {
  position: relative;
  background-color: $white;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;

  &--shadow {
    box-shadow: 0px 5px 10px -8px #333;
  }

  &--bgless {
    background-color: none;
  }

  &__header {
    width: 100%;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;

    img {
      width: 3rem;
      margin: auto 0;
      margin-right: 1rem;
    }
  }

  &__heading {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    &,
    &--main {
      margin: auto 0;
      font-size: 1.8rem;
      font-weight: 600;
      color: $black;
    }
  }

  &__subheading {
    width: 100%;
    margin-left: 4rem;
    font-size: 1.4rem;
    color: $gray;
  }

  &__menu {
    button {
      padding: 1rem;
      display: flex;

      &:hover {
        svg {
          animation: shakeRotate 0.5s ease-in-out;
        }
      }

      svg {
        margin: auto;
        fill: $white;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__body {
    display: flex;
    width: 100%;
    padding: 0.25rem 2rem;

    &--scroll {
      max-height: 15rem;
      overflow-y: auto;
    }
  }
}
