.ui-listinput {
  display: flex;
  width: 100%;

  &__label {
    display: block;
    color: $black;
    font-size: 1.6rem;
    font-weight: 400;
    margin: auto;
    margin-left: 0.4rem;
  }

  &__control {
    display: block;
    margin: auto;
    margin-right: 0.4rem;
    border: 1px solid #8e8e8e;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    color: $black;
    padding: 0.35rem 1rem;
  }
}
