.ui-screen {
  &__header {
    display: flex;
    align-items: center;
    height: 25vh;
    padding: 3rem 4rem 2rem;
  }

  &__heading {
    font-weight: 400;
  }

  &__menu {
    margin: auto;
    margin-right: 2rem;
  }

  &__body {
    margin: 0 auto;
    max-width: 90%;
  }
}
